# Ignore Python cache and bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment folders
venv/
fresh_env/

# Ignore VS Code settings
.vscode/

# Optionally ignore model files (uncomment the next line if you do NOT want to push model files)
# models/*.h5
# models/scaler.joblib

# Ignore OS-specific files
.DS_Store
Thumbs.db
